
* annex.backend=MD5E
* annex.largefiles=(not(mimetype=text/*)) 
**/.git* annex.largefiles=nothing

code/** annex.largefiles=nothing
references/** annex.largefiles=nothing
results/** annex.largefiles=nothing
scripts/** annex.largefiles=nothing
*.md annex.largefiles=nothing
*.txt annex.largefiles=nothing